.wrapper {
  width: 100%;
  min-width: 280px;
  position: relative;

  @media (min-width: 450px) {
    width: 370px;
  }
  // @media (min-width: 620px) {
  //   width: 400px;
  // }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 12px 20px;
  padding-left: 45px;
  width: 100%;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.iconSearch {
  opacity: 0.3;
  position: absolute;
  left: 15px;
  top: calc(50% - 11px);
}

.clearBtn {
  border: none;
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  background-color: inherit;
  opacity: 0.3;
  &:hover {
    opacity: 0.5;
  }
}
